{% load static %}
<footer>
    <div class="collumn-logo">
        <img class="footer-log" src="{% static 'img/logo.png' %}" style="max-width:100px;" alt="logo">
        <img src="{% static 'img/background.png' %}" style="max-width:300px" alt="">
    </div>
    <div class="collumn-menu">
        <h2><a href="#home" class="navigator-item">Home</h2>
        <a href="#sobre" class="navigator-item">Sobre</a>
        <a href="#segmento" class="navigator-item">Áreas de Atuação</a>
        <a href="#cliento" class="navigator-item">Clientes</a>
        <a href="#contato" class="navigator-item">Contato</a>
    </div>
    <!-- <div class="collumn-newsletter">
        <h3>Newsletter</h3>
        <p>Lorem ipsum dolor, sit amet</p>
        <div>
            <input type="text">
            <button>
                <img class="icon-button" src="{% static 'img/' %}" alt="aviãopapel">
            </button>
        </div>
        <div>
            <img class="icon-button" src="{% static 'img/icones/instagram.svg' %}" alt="instagram">
            <img class="icon-button" src="{% static 'img/icones/facebook.svg' %}" alt="facebook">
            <img class="icon-button" src="{% static 'img/icones/linkedin.svg' %}" alt="linkedin">
        </div>

    </div> -->
    <div></div>
</footer>