{% extends "page.html" %}
{% block content %}
{% load static %}

    <section id="home" class="home">
        <h1>Consiência e direção jurídica para negócios <strong style="color:#FFA900; font-weight: 800;" >sustentáveis.</strong></h1>
        <!-- <button>Saiba Mais</button> -->
    </section>

    <section id="sobre" class="sobre">
        <div >
            <h2>QUEM SOMOS</h2>
            <p style="max-width: 390px; font-size:20px; line-height: 1.6;">
                <span style="color:#FFA900 ;">A JHS Advogados</span>
                é um time de especialistas jurídicos que desde 2007 atua de maneira
                <span style="color:#FFA900 ;">multidisciplinar e interdisciplinar</span>
                , através de profissionais qualificados e com 
                <span style="color:#FFA900 ;">visão de 360 sobre as Pessoas, Empressas e Negócios</span> 
                , agregando valor e assertividade as tomadas de decisões.
            </p>
                <!-- <button
                
            >Continue lendo</button> -->
        </div>
        <div>
            <img src="{% static 'img/fotos/about.png' %}" alt="about">
        </div>
    </section>
    
    <section id="purpose" class="purpose">
        <div></div>
        <div>
            <h2>NOSSO PROPÓSITO</h2>
            <p style="max-width: 530px; font-size:20px; line-height: 1.6;">
                <span style="color:#FFA900 ;">Gerar valor</span>,
                por meio de 
                <span style="color:#FFA900 ;">inteligência </br>técnica</span>, a partir de uma 
                <span style="color:#FFA900 ;">cultura de parceria</span> </br>
                e 
                <span style="color:#FFA900 ;">proximidade</span>
                que traga
                <span style="color:#FFA900 ;">suporte</span>,
                <span style="color:#FFA900 ;">segurança </br></span> e
                <span style="color:#FFA900 ;">direcionamento</span>
                para o desenvolvimento </br> sustentável de negócios.
            </p>
        </div>
    </section>
    
    <section id="segmento" class="segmento">
        <div class="segmento-header">
            <h2>ÁREAS DE ATUAÇÃO</h2>
            <img src="{% static 'img/fotos/segmento.png' %}" alt="">
        </div>
        <div>
            <img src="{% static 'img/background.png' %}" alt="" style="max-width:200px; transform: rotate(90deg);
    height: 200px; /* height of container */
    object-fit: cover;
    object-position: 20px 10px; /* try 20% 10% */">
            <img src="{% static 'img/fotos/segmento_02.png' %}" alt="" style="position: relative;
            left: 400px;
            top: 30px;">
        </div>
            <!-- <button>Continue lendo</button> -->
        
    </section>

    <section id="expressao" class="expressao">
        <div class="exp-header">
            <h2>FRENTES DE EXPRESSÃO</h2>
            <p>Atuamos por meio de duas frentes principais de expressão:</p>
        </div>
        <div class="exp-item">
            <h3>BPO JURÍDICO</h3>
            <div class="exp-item-content">
                <div>
                    <img src="{% static 'img/icones/1.png' %}" alt="">
                    <h4>CONSULTIVO</h4>
                    <p>Disponibilidade contínua de consultas rápidas nas áreas de atuação;</p>
                </div>
                <div>
                    <img src="{% static 'img/icones/2.png' %}" alt="">
                    <h4>ASSESSORIA</h4>
                    <p>Realização de trabalhos já consultados e recomendados, através de serviços;</p>
                </div>
                <div>
                    <img src="{% static 'img/icones/3.png' %}" alt="">
                    <h4>PREVENTIVO</h4>
                    <p>Direcionamentos Estratégicos para Tomada de Decisões;</p>
                </div>
                <div>
                    <img src="{% static 'img/icones/4.png' %}" alt="">
                    <h4>CONTENCIOSO</h4>
                    <p>Judicialização de procedimentos inevitáveis para assegurar direitos;</p>
                </div>
            </div>
        </div>
        <div class="exp-item">
            <h3>PROJETOS / SPOT</h3>
            <div class="exp-item-content">
                <div>
                    <img src="{% static 'img/icones/5.png' %}" alt="">
                    <h4>PARECER</h4>
                    <p>Necessidades pontuais que demandem, além de uma consulta prévia, um instrumento técnico de validação e orientação ao cliente;</p>
                </div>
                <div>
                    <img src="{% static 'img/icones/1.png' %}" alt="">
                    <h4>CONSULTORIA</h4>
                    <p>Trabalho de consulta técnica quanto a determinada área de atuação;</p>
                </div>
                <div>
                    <img src="{% static 'img/icones/2.png' %}" alt="">
                    <h4>ACESSORIA</h4>
                    <p>Realização de tabalhos já consultados e recomendados, através de serviços;</p>
                </div>
                <div>
                    <img src="{% static 'img/icones/6.png' %}" alt="">
                    <h4>MEDIAÇÃO E CONCILIAÇÃO</h4>
                    <p>Buscar a solução de conflitos pela via que agregue respeito e valor aos envolvidos, com foco no princípio e senso de justiça;</p>
                </div>
                <div>
                    <img src="{% static 'img/icones/7.png' %}" alt="">
                    <h4>ARQUITETURA ESTRATÉGICA</h4>
                    <p>Direcionamento para empresas e pessoas que pretendem implantar melhorias em seus processos de segurança jurídica, tanto em áreas específics, quanto em uma visão sistêmica de negócio ou de interesses pessoais;</p>
                </div>
            </div>
        </div>
    </section>

    <section class="separator">
        <h2 class="separator-text">TRANSFORMAR EMPRESAS É TRANSFORMAR VIDAS.</h2>
    </section>

    <section id="contato" class="contato">
        <div>
            <h2>CONTATOS</h2>
            <p>Rua Albuquerque Lins 384, Sala 1 - Vila Teixeira Salto/SP</p>
            <p>CEP:13320-340</p>
            <p>jhsadvocacia.adv.br</p>
            <p>+55 11 4021-2047</p>
        </div>
        <div class="mensagem">
            <p>Mensagem</p>
            <form action="submit">
                <input type="text" name="full-name" placeholder="Nome completo">
                <input type="text" name="telefone" id="msg-telefone" placeholder="Telefone">
                <input type="text" name="email" id="msg-email">
                <input type="text" name="msg" placeholder="Digite sua mensagem">
                <button type="submit" >Enviar</button>
            </form>
        </div>
    </section>
    
{% endblock %}